{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>All Bookings</h2>

    <p>Total Bookings: {{ bookings|length }}</p>

    {% for b in bookings %}
        <div style="background:#222; padding:15px; margin:15px 0; border-radius:8px;">
            <p>Ticket ID: {{ b.ticket_id }}</p>
            <p>Name: {{ b.name }}</p>
            <p>Age: {{ b.age }}</p>
            <p>Movie: {{ b.movie }}</p>
            <p>Time: {{ b.show_time }}</p>
            <p>Total: Rs. {{ b.total_price }}</p>
        </div>
    {% else %}
        <p>No bookings yet.</p>
    {% endfor %}
</div>
{% endblock %}
